<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>App</title>

  <!-- global prototype styles -->
  <style>
  </style>

  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>

<div class="app">
</div>

<!-- inject:vendor -->
<!-- endinject -->
<!-- inject:app -->
<!-- endinject -->

</body>
</html>
